.eslintignore
.eslintrc.js
.gitignore
.prettierrc.js
.watchmanconfig
app.json
App.tsx
babel.config.js
Gemfile
Gemfile.lock
index.js
jest.config.js
metro.config.js
package.json
react-native.config.js
README.md
tsconfig.json
yarn.lock
src/assets/*
src/api/*
src/themes/LocalizedStrings.ts